<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" type="log4net.Util.PatternString" value="property{LogPath}" />
		<param name="AppendToFile" value="true" />
		<param name="DatePattern" value="-yyyy.MM.dd'.log'" />
		<param name="RollingStyle" value="Date" />
		<param name="StaticLogFileName" value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%-5p%d{ yyyy-MM-dd hh:mm:ss tt} %m%n" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="LogFileAppender" />
	</root>
</log4net>